SystemControl/GSIGateway/Service References/ExampleRefrence/ExampleController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Goto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GotoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GotoSoapIn">
    <wsdl:part name="parameters" element="tns:Goto" />
  </wsdl:message>
  <wsdl:message name="GotoSoapOut">
    <wsdl:part name="parameters" element="tns:GotoResponse" />
  </wsdl:message>
  <wsdl:portType name="ExampleControllerSoap">
    <wsdl:operation name="Goto">
      <wsdl:input message="tns:GotoSoapIn" />
      <wsdl:output message="tns:GotoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleControllerSoap" type="tns:ExampleControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Goto">
      <soap:operation soapAction="http://tempuri.org/Goto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExampleControllerSoap12" type="tns:ExampleControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Goto">
      <soap12:operation soapAction="http://tempuri.org/Goto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExampleController">
    <wsdl:port name="ExampleControllerSoap" binding="tns:ExampleControllerSoap">
      <soap:address location="http://localhost:22000/ExampleController.asmx" />
    </wsdl:port>
    <wsdl:port name="ExampleControllerSoap12" binding="tns:ExampleControllerSoap12">
      <soap12:address location="http://localhost:22000/ExampleController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>